<div class="container">
	<h1>
		<u><?php echo $this->headerText; ?></u>
	</h1>
	
	<div class="alert" style="color: green;font-weight: bold;"><?php if(isset($this->notice) && $this->success!=null){echo $this->notice;} ?></div>
</div>

<div class="container">
	<form action="<?php echo $this->baseUrl();?>/fabhotels/index/create" method="POST">
  		<div class="form-group">
    		<label for="hotel_name">Hotel Name:</label>
    		<input type="text" class="form-control" id="hotel_name" name="hotel_name" required>
  		</div>
  		<div class="form-group">
    		<label for="locality">Locality:</label>
    		<input type="text" class="form-control" id="locality" name="locality" required>
  		</div>

  		<div class="form-group">
    		<label for="city">City:</label>
    		<input type="text" class="form-control" id="city" name="city" required>
  		</div>

  		<div class="form-group">
    		<label for="state">State:</label>
    		<input type="text" class="form-control" id="state" name="state" required>
  		</div>

  		<div class="form-group">
    		<label for="country">Country:</label>
    		<input type="text" class="form-control" id="country" name="country" required>
  		</div>

  		<div class="form-group">
    		<label for="status">Status:</label>
    		<select type="text" class="form-control" id="status" name="status">
    			<option value="NA">Choose Appropriate Option</option>
    			<option value="Active">Active</option>
    			<option value="Inactive">Inactive</option>
    		</select>
  		</div>
  
  		<button type="submit" class="btn btn-lg btn-success">Create</button>
	</form>
</div>

