<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <div class="container">
      <h1>
        <u><?php echo $this->headerText; ?></u>
    </h1>

    <div class="alert" id="notice"></div>
  </div>
<div class="table-responsive">
        <table class="table table-striped b-t b-light text-sm myTable" id="example">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Hotel Name</th>
                    <th>Locality</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>        
                    <th>Status</th>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                <?php if ($this->hotels): ?>
                    <?php foreach ($this->hotels as $hotel): ?>
                        <tr>
                            <td><?php echo $hotel['id']; ?></td>
                            <td><?php echo $hotel['name']; ?></td>
                            <td><?php echo $hotel['locality']; ?></td>
                            <td><?php echo $hotel['city']; ?></td>
                            <td><?php echo $hotel['state']; ?></td>
                            <td><?php echo $hotel['country']; ?></td>
                            <td><?php echo $hotel['status']; ?></td>
                            <td><button type="button" class="btn btn-primary update_record"  data-hotelId="<?php echo $hotel['id']; ?>" onclick="">
                                Update
                            </button></td>
                            <td><button type="button" class="btn btn-danger delete_record" id="delete_record" data-hotelId="<?php echo $hotel['id']; ?>" onclick="">
                                Delete
                            </button></td>
                        </tr>
                    <?php endforeach; ?>
                <?php endif; ?>

            </tbody>
        </table>
    </div>

    <!-- The Modal -->
    <div class="modal" id="update_modal" style="margin-left: 25%;">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Update Hotel Details</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
                <form action="">
                    <div class="form-group" style="display: none;">
                        <label for="hotel_id">Hotel Id:</label>
                        <input type="hidden" class="form-control" id="hotel_id">
                    </div>
                    <div class="form-group">
                        <label for="hotel_name">Hotel Name:</label>
                        <input type="text" class="form-control" id="hotel_name" required>
                    </div>
                    <div class="form-group">
                        <label for="locality">Locality:</label>
                        <input type="text" class="form-control" id="locality" required>
                    </div>

                    <div class="form-group">
                        <label for="city">City:</label>
                        <input type="text" class="form-control" id="city" required>
                    </div>

                    <div class="form-group">
                        <label for="state">State:</label>
                        <input type="text" class="form-control" id="state" required>
                    </div>

                    <div class="form-group">
                        <label for="country">Country:</label>
                        <input type="text" class="form-control" id="country" required>
                    </div>

                    <div class="form-group">
                        <label for="status">Status<span style="color:red;font-weight: bold;">(Mandatory):</span></label>
                        <select type="text" class="form-control" id="status">
                            <option value="NA">Choose Appropriate Option</option>
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                    </div>
      
                    <button type="button" class="btn btn-lg btn-success" id="update_hotel_btn">Update</button>
                </form>
            </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function(){

            document.getElementById("update_hotel_btn").addEventListener("click",function(e){
                let id = $("#hotel_id").val();
                let name = $("#hotel_name").val();
                let locality = $("#locality").val();
                let city = $("#city").val();
                let state = $("#state").val();
                let country = $("#country").val();
                let status = $("#status").val();

                if(status==null || status=="" || status==undefined)
                {
                    alert("Status Option is Mandatory to select !");
                }
                else
                {
                    $.ajax({
                    url:"<?php echo $this->baseUrl();?>/fabhotels/ajax/update-hotel",
                    data:{id:id,name:name,locality:locality,city:city,state:state,country:country,status:status},
                    method:"post"
                    }).done(function(obj){
                    if(obj.meta.code===200 && obj.meta.success)
                    {
                        //alert("Updated Successfully");
                        $("#notice").html("Updated Successfully");
                        $("#notice").css('color','green');
                        $("#update_modal").modal("hide");
                        document.location.reload(true);


                    }
                    else
                    {
                        //alert("Not Updated Successfully");
                        $("#notice").html("Not Updated Successfully");
                        $("#notice").css('color','red');
                        $("#update_modal").modal("hide");
                        document.location.reload(true);


                    }

                    });
                }
                
            });

            let update_btns = document.getElementsByClassName("update_record");
            let delete_btns = document.getElementsByClassName("delete_record");
            
            for(let i=0;i<update_btns.length;i++){
                    update_btns[i].addEventListener("click",function(e){
                    let hotel_id = e.target.getAttribute("data-hotelId");

                    $.ajax({
                    url: "<?php echo $this->baseUrl();?>/fabhotels/ajax/get-hotel",
                    data: { id: hotel_id },
                    method: "post"
                    }).done(function (obj) {
                        
                        if(obj.meta.success===true && obj.meta.code===200)
                        {
                            console.log(obj);
                            
                            $("#hotel_id").val(obj.data[0].id);
                            $("#hotel_name").val(obj.data[0].name);
                            $("#locality").val(obj.data[0].locality);
                            $("#city").val(obj.data[0].city);
                            $("#state").val(obj.data[0].state);
                            $("#country").val(obj.data[0].country);
                            $("#status").val(obj.data[0].country);
                            
                        }
                        else
                        {
                            alert(obj.meta.message);
                        }  
                    });

                    $("#update_modal").modal("show");
                });

                 delete_btns[i].addEventListener("click",function(e){
                    let hotel_id = e.target.getAttribute("data-hotelId");
                    if(hotel_id!==null && hotel_id!=="" && hotel_id!==undefined){
                        $.ajax({
                            url: "<?php echo $this->baseUrl();?>/fabhotels/ajax/delete-hotel",
                            data: { id: hotel_id },
                            method: "post"
                        }).done(function(obj){
                            if(obj.meta.success===true && obj.meta.code===200)
                            {
                                $("#notice").html("Deleted Successfully");
                                $("#notice").css('color','green');
                                document.location.reload(true);
                            }
                            else
                            {
                                $("#notice").html("Not Deleted Successfully");
                                $("#notice").css('color','red');
                                document.location.reload(true);
                            }
                        });
                    }
                    else
                    {
                        alert("Not Deleted");
                    }
                });   
            }

            
        });

    </script>