<!DOCTYPE html>
<html>
<head>
	<title>Hotels Listing Page</title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
 	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
     <style type="text/css">
     	li{
     		background-color: #e6e6e6;
     		padding: 2px;
     	}
     </style>
</head>

<script type="text/javascript">
	function getHotels()
	      {
	      		let searchString = document.getElementById("autocomplete").value;
	      		$.ajax({
        			url: "<?php echo $this->baseUrl();?>/fabhotels/ajax/get-hotels",
        			data: { search_key: searchString},
        			method: "post"
      				}).done(function (obj) {
      					
        				if(obj.meta.success===true && obj.meta.code===200)
        				{
        					console.log(obj);
        					let ans="<ul>";
  							if(obj.data.length>0)
  							{
  								obj.data.forEach(function(item){
        							ans+="<li><b>"+item.name+"</b> "+item.city+", "+item.state+", "+item.country+"</li><br>";
        						});
  							}
  							else
  							{
  								ans+="<li><b>Nothing Found.</b></li>";
  							}
        					ans+="</ul>";
        					document.getElementById("hotels").innerHTML=ans;
        				}
        				else
        				{
        					document.getElementById("hotels").innerHTML="<b>Nothing Found</b>";
        				}  
      				});
	      }
</script>
<body>

	<form>
			<div class="row">
				<div class="form-group">
					<label for="email">Search hotels by location:</label>
					<div class="form-input search-location">
        				<input type="text" value="" id="autocomplete" placeholder="Select Location" onFocus="geolocate()" class="form-control" style="width: 100%;height: 50px;" oninput="getHotels()" required>
        				
    				</div>
				</div>
			</div>
			
	</form>

	<div class="container">
		<h1><u>Hotels</u></h1>
		<div class="container" id="hotels"></div>
	</div>
	
	    <script type="text/javascript">
	    var placeSearch, autocomplete;
	      var componentForm = {
	        locality: 'long_name',
	        administrative_area_level_1: 'short_name',
	        
	      };

	      function initAutocomplete() {
	        // Create the autocomplete object, restricting the search to geographical
	        // location types.
	        autocomplete = new google.maps.places.Autocomplete(
	            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
	            {types: ['geocode']});

	        // When the user selects an address from the dropdown, populate the address
	        // fields in the form.
	        autocomplete.addListener('place_changed', fillInAddress);
	      }

	      function fillInAddress() {
	        // Get the place details from the autocomplete object.
	        var place = autocomplete.getPlace();

	        for (var component in componentForm) {
	          document.getElementById(component).value = '';
	          document.getElementById(component).disabled = false;
	        }

	        // Get each component of the address from the place details
	        // and fill the corresponding field on the form.
	        for (var i = 0; i < place.address_components.length; i++) {
	          var addressType = place.address_components[i].types[0];
	          if (componentForm[addressType]) {
	            var val = place.address_components[i][componentForm[addressType]];
	            document.getElementById(addressType).value = val;
	          }
	        }
	      }

	      // Bias the autocomplete object to the user's geographical location,
	      // as supplied by the browser's 'navigator.geolocation' object.
	      function geolocate() {
	        if (navigator.geolocation) {
	          navigator.geolocation.getCurrentPosition(function(position) {
	            var geolocation = {
	              lat: position.coords.latitude,
	              lng: position.coords.longitude
	            };
	            var circle = new google.maps.Circle({
	              center: geolocation,
	              radius: position.coords.accuracy
	            });
	            autocomplete.setBounds(circle.getBounds());
	          });
	        }
	      }

	      
	      
	</script>
	
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEaz7pFYFspMssCNXN9jdlsTprS9eL4sw&libraries=places&callback=initAutocomplete"
        async defer></script>
</body>
</html>