<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="windows-1252" />
        <title>Fab Hotels , Search Hotels By Locality , City , State and Country :</title>

        <meta name="description" content="overview &amp; stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!--basic styles-->

        <link href="<?php echo $this->baseUrl(); ?>/admin_assets/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="<?php echo $this->baseUrl(); ?>/admin_assets/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/admin_assets/assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/admin_assets/assets/css/colorbox.css" />
        
        <script type="text/javascript">
            window.jQuery || document.write("<script src='<?php echo $this->baseUrl(); ?>/admin_assets/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
        </script>
        

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

        <!--ace styles-->

        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/admin_assets/assets/css/ace.min.css" />
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/admin_assets/assets/css/ace-responsive.min.css" />
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/admin_assets/assets/css/ace-skins.min.css" />
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" />
        
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
        <style type="text/css">
            #sidebar-right {
              position: fixed;
              /*width: 580px;*/
              width: 535px;
              /* overflow-y: scroll; */
              background: #2c3e50;
              background: rgba(44,62,80);
              color: #eee;
              height: 100%;
              top: 48px;
              right:0;
            }

            .hidden {
                display: none;
            }

            .grid-view{
                display: grid;
                grid-template-columns: 1fr 3fr;
            }
        </style>
        
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a href="#" class="brand">
                        <small>
                            <i class="icon-leaf"></i>
                            Fab Hotels
                        </small>
                    </a><!--/.brand-->
                </div><!--/.container-fluid-->
            </div><!--/.navbar-inner-->
        </div>

        <div class="main-container container-fluid">
            <a class="menu-toggler" id="menu-toggler" href="<?php echo $this->baseUrl(); ?>/admin_assets/#">
                <span class="menu-text"></span>
            </a>

            <div class="sidebar" id="sidebar">
                <div class="sidebar-shortcuts" id="sidebar-shortcuts">


                    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                        <span class="btn btn-success"></span>

                        <span class="btn btn-info"></span>

                        <span class="btn btn-warning"></span>

                        <span class="btn btn-danger"></span>
                    </div>
                </div><!--#sidebar-shortcuts-->
                <ul>
                        
                            <i class="icon-desktop"></i>
                            <span class="menu-text"><b>CRUD APIS</b></span>

                            <b class="arrow icon-angle-down"></b>
                       

                        <ul class="submenu">
                            
                            <li>
                                <a href="<?php echo $this->baseUrl(); ?>/fabhotels/index/create">
                                    <i class="icon-double-angle-right"></i>
                                    Create New
                                </a>
                            </li>

                            <li>
                                <a href="<?php echo $this->baseUrl(); ?>/fabhotels/index/get">
                                    <i class="icon-double-angle-right"></i>
                                    Get Details
                                </a>
                            </li>
                            
                            
                        </ul>
                    

                </ul><!--/.nav-list-->

                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="icon-double-angle-left"></i>
                </div>
            </div>

            <div class="main-content">
                <div class="breadcrumbs" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home home-icon"></i>
                            <a href="<?php echo $this->baseUrl(); ?>/fabhotels/">Home</a>

                            <span class="divider">
                                <i class="icon-angle-right arrow-icon"></i>
                            </span>
                        </li>
                        <li class="active">Dashboard</li>
                    </ul><!--.breadcrumb-->


                </div>

                <div class="page-content">
                    <?php echo $this->layout()->content; ?>
                </div><!--/.page-content-->


            </div><!--/.main-content-->
        </div><!--/.main-container-->

        <a href="<?php echo $this->baseUrl(); ?>/admin_assets/#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
            <i class="icon-double-angle-up icon-only bigger-110"></i>
        </a>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/admin_assets/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
          
    </body>
</html>
