<style>
   #hero-container {height: 600px;}
</style>
 <div class="home-caption">
    <div class="home-title black1">Now it's easy to find your future classes</div>
    <div class="home-subtitle black1">With Class Zoo</div>
    <form class="form-inline" role="form" action="result">
        <div class="input-group col-lg-8">
            <div class="input-group-btn">
                <a href="#" class="btn btn-green dropdown-toggle" data-toggle="dropdown" style="float: right; padding: 11px 20px;">
                    <span class="fa fa-bars"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="c in classes"  class="dropright">
                        <a href="javascript:void(0)"  class="dropright-toggle" data-toggle="dropright" role="button" aria-expanded="false"ng-click="showSearch( c.class_name)"> {{ c.class_name }}</a>
                        <ul class="dropright-menu" role="menu" ng-if="c.subject_name">
                            <li ng-repeat="s in c.subject_name">
                                <a href="javascript:void(0)" ng-click="showSearch(s)">{{ s }}</a>
                            </li>
                        </ul>
                    </li>                                    							
                </ul>
            </div>
            <input type="text" name="search" class="form-control" style="height: 38px; width:75%" value="{{classes.value}}">
        </div>
        <br>
        <input type="submit" class="btn btn-lg btn-danger" name="submit" style="margin:10px;" value="Submit"> 
    </form>
</div>
        
<div class="highlight">
    <div class="h-title osLight">Find your Course </div>
    <div class="h-text osLight">Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</div>
</div>

<!-- Content -->
<div class="home-wrapper">
    <div class="home-content">
        <h2 class="osLight">Featured Courses</h2>
        <div class="row pb40">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="single.html" class="propWidget-2">
                    <div class="fig">
                        <img src="<?php echo $this->baseUrl(); ?>/student_assets/images/prop/1.png" alt="Modern Residence in New York">
                        <img class="blur" src="<?php echo $this->baseUrl(); ?>/student_assets/images/prop/1.png" alt="Modern Residence in New York">
                        <div class="opac"></div>
                        <div id="title_message">
                        <div class="priceCap osLight"><span>Rs.1,750,</span></div>
                        <div class="figType">Course</div>
                        <h3 class="osLight">Delhi</h3>
                        <div class="address">India</div>
                        <ul class="rating">
                            <li><span class="fa fa-star star-1"></span></li>
                            <li><span class="fa fa-star star-2"></span></li>
                            <li><span class="fa fa-star star-3"></span></li>
                            <li><span class="fa fa-star star-4"></span></li>
                            <li><span class="fa fa-star-o star-5"></span></li>
                        </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="single.html" class="propWidget-2">
                    <div class="fig">
                        <img src="<?php echo $this->baseUrl(); ?>/student_assets/images/prop/2.png" alt="Hauntingly Beautiful Estate">
                        <img class="blur" src="<?php echo $this->baseUrl(); ?>/student_assets/images/prop/2.png" alt="Hauntingly Beautiful Estate">
                        <div class="opac"></div>
                        <div id="title_message">
                            <div class="priceCap osLight"><span>Rs.1,750,</span></div>
                            <div class="figType">Course</div>
                            <h3 class="osLight">Delhi</h3>
                            <div class="address">India</div>
                            <ul class="rating">
                                <li><span class="fa fa-star star-1"></span></li>
                                <li><span class="fa fa-star star-2"></span></li>
                                <li><span class="fa fa-star star-3"></span></li>
                                <li><span class="fa fa-star star-4"></span></li>
                                <li><span class="fa fa-star-o star-5"></span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="single.html" class="propWidget-2">
                    <div class="fig">
                        <img src="<?php echo $this->baseUrl(); ?>/student_assets/images/prop/3.png" alt="Luxury Mansion">
                        <img class="blur" src="<?php echo $this->baseUrl(); ?>/student_assets/images/prop/3.png" alt="Luxury Mansion">
                        <div class="opac"></div>
                        <div id="title_message">
                            <div class="priceCap osLight"><span>Rs.1,750,</span></div>
                            <div class="figType">Course</div>
                            <h3 class="osLight">Delhi</h3>
                            <div class="address">India</div>
                            <ul class="rating">
                                <li><span class="fa fa-star star-1"></span></li>
                                <li><span class="fa fa-star star-2"></span></li>
                                <li><span class="fa fa-star star-3"></span></li>
                                <li><span class="fa fa-star star-4"></span></li>
                                <li><span class="fa fa-star-o star-5"></span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="single.html" class="propWidget-2">
                    <div class="fig">
                        <img src="<?php echo $this->baseUrl(); ?>/student_assets/images/prop/4.png" alt="Sophisticated Residence">
                        <img class="blur" src="<?php echo $this->baseUrl(); ?>/student_assets/images/prop/4.png" alt="Sophisticated Residence">
                        <div class="opac"></div>
                        <div id="title_message">
                            <div class="priceCap osLight"><span>Rs.1,750,</span></div>
                            <div class="figType">Course</div>
                            <h3 class="osLight">Delhi</h3>
                            <div class="address">India</div>
                            <ul class="rating">
                                <li><span class="fa fa-star star-1"></span></li>
                                <li><span class="fa fa-star star-2"></span></li>
                                <li><span class="fa fa-star star-3"></span></li>
                                <li><span class="fa fa-star star-4"></span></li>
                                <li><span class="fa fa-star-o star-5"></span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="single.html" class="propWidget-2">
                    <div class="fig">
                        <img src="<?php echo $this->baseUrl(); ?>/student_assets/images/prop/5.png" alt="House With a Lovely Glass">
                        <img class="blur" src="<?php echo $this->baseUrl(); ?>/student_assets/images/prop/5.png" alt="House With a Lovely Glass">
                        <div class="opac"></div>
                        <div id="title_message">
                            <div class="priceCap osLight"><span>Rs.1,750,</span></div>
                            <div class="figType">Course</div>
                            <h3 class="osLight">Delhi</h3>
                            <div class="address">India</div>
                            <ul class="rating">
                                <li><span class="fa fa-star star-1"></span></li>
                                <li><span class="fa fa-star star-2"></span></li>
                                <li><span class="fa fa-star star-3"></span></li>
                                <li><span class="fa fa-star star-4"></span></li>
                                <li><span class="fa fa-star-o star-5"></span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="single.html" class="propWidget-2">
                    <div class="fig">
                        <img src="<?php echo $this->baseUrl(); ?>/student_assets/images/prop/6.png" alt="Modern Residence in New York">
                        <img class="blur" src="<?php echo $this->baseUrl(); ?>/student_assets/images/prop/6.png" alt="Modern Residence in New York">
                        <div class="opac"></div>
                        <div id="title_message">
                            <div class="priceCap osLight"><span>Rs.1,750,</span></div>
                            <div class="figType">Course</div>
                            <h3 class="osLight">Delhi</h3>
                            <div class="address">India</div>
                            <ul class="rating">
                                <li><span class="fa fa-star star-1"></span></li>
                                <li><span class="fa fa-star star-2"></span></li>
                                <li><span class="fa fa-star star-3"></span></li>
                                <li><span class="fa fa-star star-4"></span></li>
                                <li><span class="fa fa-star-o star-5"></span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <h2 class="osLight">Top Tutors</h2>
        <div class="row pb40">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="agent">
                    <a href="profile.html" class="agent-avatar">
                        <img src="<?php echo $this->baseUrl(); ?>/student_assets/images/tut1.jpg" alt="John Smith">
                        <div class="ring"></div>
                    </a>
                    <div class="agent-name osLight">Sunny Roy</div>
                    <div class="agent-rating">
                        <span class="fa fa-star text-yellow"></span>
                        <span class="fa fa-star text-yellow"></span>
                        <span class="fa fa-star text-yellow"></span>
                        <span class="fa fa-star text-yellow"></span>
                        <span class="fa fa-star text-yellow"></span>
                    </div>
                    <div class="agent-contact">
                        <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-green"><span class="fa fa-envelope-o"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-twitter"><span class="fa fa-twitter"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-google"><span class="fa fa-google-plus"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="agent">
                    <a href="profile.html" class="agent-avatar">
                        <img src="<?php echo $this->baseUrl(); ?>/student_assets/images/tut1.jpg" alt="Jane Smith">
                        <div class="ring"></div>
                    </a>
                    <div class="agent-name osLight">Ravi Yadav</div>
                    <div class="agent-rating">
                        <span class="fa fa-star text-yellow"></span>
                        <span class="fa fa-star text-yellow"></span>
                        <span class="fa fa-star text-yellow"></span>
                        <span class="fa fa-star text-yellow"></span>
                        <span class="fa fa-star text-yellow"></span>
                    </div>
                    <div class="agent-contact">
                        <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-green"><span class="fa fa-envelope-o"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-twitter"><span class="fa fa-twitter"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-google"><span class="fa fa-google-plus"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="agent">
                    <a href="profile.html" class="agent-avatar">
                        <img src="<?php echo $this->baseUrl(); ?>/student_assets/images/tut1.jpg" alt="Rust Cohle">
                        <div class="ring"></div>
                    </a>
                    <div class="agent-name osLight">Rahul Yadav</div>
                    <div class="agent-rating">
                        <span class="fa fa-star text-yellow"></span>
                        <span class="fa fa-star text-yellow"></span>
                        <span class="fa fa-star text-yellow"></span>
                        <span class="fa fa-star text-yellow"></span>
                        <span class="fa fa-star text-yellow"></span>
                    </div>
                    <div class="agent-contact">
                        <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-green"><span class="fa fa-envelope-o"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-twitter"><span class="fa fa-twitter"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-google"><span class="fa fa-google-plus"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="agent">
                    <a href="profile.html" class="agent-avatar">
                        <img src="<?php echo $this->baseUrl(); ?>/student_assets/images/tut1.jpg" alt="Antony Iglesias">
                        <div class="ring"></div>
                    </a>
                    <div class="agent-name osLight">Ankit Yadav</div>
                    <div class="agent-rating">
                        <span class="fa fa-star text-yellow"></span>
                        <span class="fa fa-star text-yellow"></span>
                        <span class="fa fa-star text-yellow"></span>
                        <span class="fa fa-star text-yellow"></span>
                        <span class="fa fa-star text-yellow"></span>
                    </div>
                    <div class="agent-contact">
                        <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-green"><span class="fa fa-envelope-o"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-twitter"><span class="fa fa-twitter"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-google"><span class="fa fa-google-plus"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="osLight">Testimonials</h2>
        <div id="home-testimonials" class="carousel slide carousel-wb mb20" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#home-testimonials" data-slide-to="0" class="active"></li>
                <li data-target="#home-testimonials" data-slide-to="1" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="<?php echo $this->baseUrl(); ?>/student_assets/images/avatar-2.png" class="home-testim-avatar" alt="Jane Smith">
                    <div class="home-testim">
                        <div class="home-testim-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</div>
                        <div class="home-testim-name">Ravi</div>
                    </div>
                </div>
                <div class="item">
                    <img src="<?php echo $this->baseUrl(); ?>/student_assets/images/avatar-3.png" class="home-testim-avatar" alt="Rust Cohle">
                    <div class="home-testim">
                        <div class="home-testim-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</div>
                        <div class="home-testim-name">Rahul</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--tab-->
<div class="row">
    <div class="col-sm-12" id="title_message">
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs " style="margin-left:590px;">
                    <li class="active"><a href="#tab_default_1" data-toggle="tab"> Teacher </a></li>
                    <li><a href="#tab_default_2" data-toggle="tab">Student</a></li>
                </ul>
		<div class="tab-content">
                    <div class="tab-pane active" id="tab_default_1">
                        <h4>Teacher</h4>
			<img class="img-responsive" src="<?php echo $this->baseUrl(); ?>/student_assets/images/teacher.jpg" style="width:2000px;">
                    </div>
                    <div class="tab-pane" id="tab_default_2">
                        <h4>Student</h4>
			<img class="img-responsive" src="<?php echo $this->baseUrl(); ?>/student_assets/images/student.jpg" style="width:2000px;">
                    </div>
		</div>
            </div>
	</div>
    </div>
    <div class="col-sm-3"></div>
</div>