@font-face {
    font-family: Comic-Sans;
    src: url(comic_sans.ttf);
}
@font-face {
    font-family: Rockwell;
    src: url(rockb.ttf);
}
@font-face {
    font-family: Allerta;
    src: url(AllertaStencil-Regular.ttf);
}

*{ margin: 0; padding: 0; }
#sub-butt
{
	margin: 10px auto 0;
	box-shadow: 0 5px 0 0 #094484;
	cursor: pointer;
}
#sub-butt:active
{
  box-shadow: 0 3px 0 0 #094484;
  margin-top: 12px;
}
#square 
{
	width: auto;
	height: auto;
	background: #ff5722;
	margin-top: -0.5%;
	float: left;
	border-radius: 4px 0 0 4px;
}
#triangle-right 
{
	width: 0;
	height: 0;
	border-top: 21px solid transparent;
	border-left: 15px solid #ff5722;
	border-bottom: 21px solid transparent;
	float: left;
	margin: 0 1% 0 0;
}
.matches-block 
{
  margin: 1% 0;
  *border: 1px solid #c8c8c8;
}
#match-head
{
	margin-top: 10%;
	line-height: 10px;
	color: rgba(0,0,0,.8);
	/*background: #d8d8d8;*/
	width: 100%;
	/*padding: 0 2%;*/
}
#question-head
{
	margin-top: 7%;
	line-height: 5px;
}
#question-pane
{
	border: 1px solid #c8c8c8; border-radius: 5px; background-color: #f8f8f8; margin: 2% 0; padding: 2%; *text-align: center; float: left;
}
#fixedDiv
{
	position: fixed; 
	top: 0%; 
	right: 0%; 
	padding: 3% 2% 0 0; 
}
#fixedDiv2
{
	display: none;
}
#up-line
{
	font-size: 18px; 
	font-weight: bold; 
	width: 5%;
}
#down-line
{
	font-size: 15px;
}
.button-section
{
	padding: 1%;
}
.button-section a
{
	width: 100%;
}

#text-question-panel
{
	text-align: center;
}

#choose-file-panel
{
	text-align: center;
	display: none;
	opacity: .8;
	width: 100%;
}

#change-panel
{
	display: none;
	width: 25%;
	border: 1px solid #007bff;
	background: #007bff; 
	color: #ffffff;
	margin-left: 1%;
	padding: 1.3% 1.5%;
}

#change-panel:hover
{
	border: 1px solid #0062cc;
	background: #0062cc;
}

#image-upload-panel
{
    min-height:400px;
    display: none;
    text-align: center;
    margin-top: 7%;
}
.demo
{
    padding: 20px;
}
.image-wrapper
{
    max-width: 600px;
    min-width: 200px;
    text-align: center;
    margin: 0 auto;
}
img
{
    max-width: 100%;
}

#submit-text
{
	margin:0 0 0 -6%;
	width: 15%;
	background: #e8e8e8;
	border: 1px solid #a8a8a8;
	/*background: none;
	border: none;*/
	padding: 3px 2px;
	cursor: pointer;
	opacity: .6;
}

#submit-text:hover
{
	opacity: 1;
}

#serch-question
{
	width: 85%;
	opacity: .8;
	/*border: 2px solid #007bff;*/
	/*border-radius: 50px;*/
	font-size: 15px;
	padding: .5% 3%;
	/*color: #007bff;*/
	margin: 0 0 0 -10%;
}

/*input::-webkit-input-placeholder {
color: #007bff !important;
}*/

#header-section
{
	background: #ffffff;
	padding: .5% 2%;
	box-shadow: 2px 2px 2px #c8c8c8;
	position: fixed;
	z-index: 10;
}

#choose-pic-label
{
	background: #007bff;
	padding: .5% 0;
	color: #ffffff;
	font-weight: bold;
	width: 90%;
	vertical-align: middle;
	text-align: center;
	margin-top: 2%;
	font-size: 14px;
	opacity: .6;
	border: 2px solid #072f5a;
}

#choose-pic-label:hover
{
	opacity: 1;
}

#search-alert
{
	text-align: left;
	color: #fa0404;
	display: none;
}

.banner-comic
{
	font-family: 'Comic-Sans';
}

.banner-rockwell
{
	font-family: 'Rockwell';
}

.banner-allerta
{
	font-family: 'Allerta';
}

#whatsapp-mobile-link
{
	display: none;
	background: #23D366;
	padding: 1%;
	border-radius: 3px;
	margin-top: 1%;
	text-align: center;
	width: 100%;
}

#whatsapp-site-link
{
	background: #23D366;
	padding: 1%;
	border-radius: 3px;
	color: #ffffff;
	margin-top: 1%;
	text-align: center;
	width: 100%;
}

@media only screen and (min-width: 990px) and (max-width: 1200px) {
	.play-text
	{
		font-size: 12px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
	 .play-text
	 {
	 	display: none;
	 }
}
@media only screen and (max-width: 770px) {
    #fixedDiv
	{
		display: none;
	}
	#fixedDiv2
	{
		display: block;
		position: fixed; 
		bottom: 0%;
		left: 0%;
		margin: 0;
		width: 100%;
		*border: 1px solid red;
		float: left;
	}
	#bott-left
	{
		width: 25%; 
		float: left;
		*border: 1px solid red;
	}
	#bott-left img
	{
		width: 100%; 
	}
	#bott-right
	{
		width: 70%; 
		float: left; 
		margin-left: 2%;
		*border: 1px solid red;
	}
}
@media only screen and (max-width: 580px) {
	#bott-left
	{
		width: 35%; 
	}
	#bott-right
	{
		width: 60%;
	}
}
@media only screen and (max-width: 510px) {
	#up-line
	{
		font-size: 15px;
	}
	#down-line
	{
		font-size: 12px;
	}

	#whatsapp-mobile-link
	{
		display: inline;
	}

	#whatsapp-site-link
	{
		display: none;
	}
}
@media only screen and (max-width: 430px) {
	#bott-left
	{
		width: 40%; 
	}
	#bott-left img
	{
		width: 80%; 
	}
	#bott-right
	{
		width: 55%;
	}
	#up-line
	{
		font-size: 13px;
	}
	#down-line
	{
		font-size: 10px;
	}
}
@media only screen and (max-width: 400px) {
	#bott-left
	{
		width: 100%; 
	}
	#bott-left img
	{
		width: 35%; 
	}
	#bott-right
	{
		width: 100%;
	}
	#up-line
	{
		font-size: 15px;
	}
	#down-line
	{
		font-size: 12px;
	}
}